<div ui-content-for="title">
    <span>GC车友会</span>
</div>
<div class="scrollable">
    <div class="scrollable-content section">
        <div style="height: 10%"></div>
        <div style="font-size: 20px;">
            <p>
                尊敬的{{userName}}，下图是你的［GC车友会］定制二维码，下载并打印，张贴到车辆合适位置，其他用户扫描此二维码，你将收到挪车通知。
            </p>
        </div>
        <hr>
        <div style="text-align: center">
            <qrcode version="4" error-correction-level="H" size="200" data="{{uuid}}" download></qrcode>
        </div>
        <hr>
        <button class="btn btn-primary btn-block" ng-click="download()">
            下载
        </button>
        <div ui-content-for="navbarAction">
            <a class='btn' ng-click="back()">返回</a>
        </div>
    </div>
</div>

